@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    z-index: 2;
    margin: 0 10%;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.menu {
    display: flex;
}

.menuBtn {
    display: none;
    width: 18px;
    height: 20px;
}

.menuItems {
    display: flex;
    gap: 45px;
    list-style: none;
}

.menuItems a {
    font-size: 20px;
    color: var(--color-text);
    text-decoration: none;
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 2%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;   
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: var(--color-04);
        background: linear-gradient(0deg, var(--color-05, 0.2) 0%, var(--color-04, 1) 100%);
        padding: 24px 32px;
        box-shadow: 0 0 2px 0 var(--color-03, 0.15);
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }
}