@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--color-text);
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
}

.skills {
   width: 45%;
   display: flex;
   flex-wrap: wrap; 
   align-items: center;
   gap: 10px;
   justify-content: space-evenly;
   align-content: space-evenly;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer {
    background-color: var(--color-04);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.skillImageContainer img {
    width: 75px;
}

.skill p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

.history {
    width: 45%; 
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background: var(--color-04);
    background: linear-gradient(90deg, #ffb703 0%, #fb8500 100%);
    border-radius: 10px;
    padding: 24px;
}

.historyItem img {
    width: 150px;
}

.historyItemDetails {
    font-family: var(--font-roboto);
}

.historyItemDetails h3 {
    font-size: 30px;
    font-weight: 500;
}

.historyItemDetails p {
    font-size: 20px;
    font-weight: 300;
}

.historyItemDetails ul {
    margin-top: 6px;
    list-style-position: inside;
    font-size: 25px;
    list-style-type: disc;
    margin-left: 17px;
}

@media screen and (max-width: 830px) {
    
    .content {
        flex-direction: column;
        align-items: center;    
        gap: 34px;
    }

    .container h2 {
        font-size: 40px;
        text-align: center;
    }

    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        font-size: 20px;
    }

    .skillImageContainer {
        width: 75px;
        height: 75px;
    }

    .skillImageContainer img {
        width: 45px;
    }
    
    .skill p {
        font-size: 14px;
    }

    .history {
        width: 100%;
        gap: 9px;
    }

    .historyItem img {
        width: 75px;
    }

    .historyItemDetails h3 {
        font-size: 20px;
    }
    
    .historyItemDetails p {
        font-size: 15px;
        font-weight: 200px
    }
    
    .historyItemDetails ul {
        font-size: 12px;
        list-style-type: disc;
        margin-left: 0;
    }

}
