:root {
    /* Colors */
    --color-text: #eee;
    --color-01: #4ac6ff;
    --color-02: #21AADB; 
    --color-03: #023047;
    --color-04: #ffb703;
    --color-05: #fb8500;

    /* Fonts */
    --font-rob: "roboto"; 
    --font-out: "outfit";
}